name: Scraper Cron Job

on:
  schedule:
    - cron: '0 0,4,8,12,16,20 * * *' # Every 4 hours
  workflow_dispatch:

jobs:
  scrape:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          pip install -r requirements.txt

      - name: Run Scraper
        run: |
          python usa.py
        
      - name: Commit and push if changed
        run: |
          git config --global user.name 'GitHub Actions Automation'
          git config --global user.email 'actions@github.com'
          git add "USA Data/"
          git commit -m "Auto-update Box Office Data" || echo "No changes to commit"
          git push
